// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.hidden {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  padding-top: 30px;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// *::selection {
//   background: #fff;
//   color: #000;
// }

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }
}

@import "./common.scss";

h1 {
  font-size: 36px;
}
h2 {
  font-size: 22px;
  color: $brand_blue;
  font-weight: 700;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}

.header__top {
  background: linear-gradient(90deg, #0f6c50 0%, #3d9805 100%);
  padding: 10px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  // justify-content: space-between;
}
.header__logo {
  margin-right: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  .logo-container {
    height: 53px;
    width: 48px;
    margin-top: -10px;
    margin-bottom: -10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 9px 9px;
    img {
      height: 100%;
    }
  }
  .logo__name {
    font-weight: 500;
    font-size: 24px;
    color: #fffafa;
  }
}

.header__nav {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  a {
    color: #fbfbfb;
    font-weight: 400;
  }
}

.header__actions {
  margin-left: auto;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  .search-btn,
  .eye-btn {
    width: 30px;
    height: 30px;
  }
}

.header__bottom {
  padding: 16px 0;
  background: #f2f3f7;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16), 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.header__cats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
  flex-wrap: wrap;
  a {
    color: $brand_blue;
  }
}

.main-screen__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.main-screen__slider {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.16))
    drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
  flex: 1 0 calc(75% - 30px);
  padding-bottom: 20px;
}
.swiper-pagination.lines {
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  .swiper-pagination-bullet {
    border-radius: 0 !important;
    transition: opacity 0.25s ease-in-out;
    width: 20px;
    height: 2px;
    background: #90c171;
    opacity: 0.3;
    &.swiper-pagination-bullet-active {
      opacity: 1;
      height: 4px;
      background: linear-gradient(90deg, #0f6c50 0%, #3d9805 100%);
    }
  }
}

.slide-baner {
  position: relative;
  height: 315px;
}

.slide-baner__image {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  img {
    height: 100%;
    object-fit: cover;
    object-position: center right;
  }
}
.slide-baner__grad {
  padding: 32px 44px;
  height: 100%;
  width: 70%;
}

.slide-baner {
  &.blue-grad .slide-baner__grad {
    background: linear-gradient(
      90deg,
      #0156dd 52.03%,
      rgba(1, 86, 221, 0) 100%
    );
  }
  &.pink-grad .slide-baner__grad {
    background: linear-gradient(
      90deg,
      #7107c9 52.03%,
      rgba(113, 8, 201, 0) 100%
    );
  }
  &.green-grad .slide-baner__grad {
    background: linear-gradient(
      90deg,
      #89a600 52.03%,
      rgba(137, 166, 0, 0) 100%
    );
  }
  &.turquoise-grad .slide-baner__grad {
    background: linear-gradient(
      90deg,
      #409cb9 39.69%,
      rgba(212, 239, 179, 0) 98.33%
    );
  }
  &.brown-grad .slide-baner__grad {
    background: linear-gradient(
      90deg,
      #be6330 52.03%,
      rgba(190, 99, 48, 0) 100%
    );
  }
}

.slide-baner__title {
  @include pruning(5);
  color: #fbfbfb;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 130%;
  font-size: 25px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16), 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.slide-baner__content {
  height: 100%;
  color: #fbfbfb;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slide-baner__text {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16), 0px 4px 12px rgba(0, 0, 0, 0.1);
  @include pruning(2);
  font-size: 20px;
  font-weight: 400;
  margin-top: auto;
}
.slide-baner__btn {
  margin-top: auto;
}

.main-screen__chapter {
  position: relative;
  flex: 1 0 calc(25% - 30px);
  height: 315px;
  background: linear-gradient(147.3deg, #f1faec 0%, #e3f1e4 100%);
  padding: 24px 20px 20px;
  .chapter__content {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
  .chapter__title {
    font-size: 22px;
    font-weight: 700;
    color: $brand_blue;
    text-transform: uppercase;
  }
  .chapter__btn {
    margin-top: auto;
  }
  .chapter__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    z-index: 1;

    img {
      width: 100%;
      height: 90%;
      object-fit: contain;
      object-position: right bottom;
      margin-top: auto;
    }
  }
}

.categories {
  padding-top: 30px;
  padding-bottom: 22px;
}
.c-ico {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    object-fit: contain;
  }
}

.categories__list {
  display: flex;
  align-items: center;
  gap: 30px;
  li {
    flex: 1 0 calc(20% - 30px);
    background-color: #f2f3f7;
    transition: background-color 0.25s ease-in-out;
    a {
      width: 100%;
      height: 100%;
      padding: 24px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      color: $brand_blue;
      transition: color 0.25s ease-in-out;
      svg path {
        transition: fill 0.25s ease-in-out;
      }
    }
    &:hover {
      background-color: #90c171;
      a {
        color: #fff;
      }
      svg path {
        fill: #fff;
      }
    }
  }
}

.main-info {
  padding-top: 40px;
  padding-bottom: 56px;
  background: linear-gradient(270deg, #f1faec 0%, #e3f1e4 100%);

  .main-info__title {
    margin-bottom: 28px;
  }
}

.main-info__list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 0 30px;
}

.main-info__item {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #90c171;
    z-index: 1;
    transition: width 0.3s ease-in-out;
  }
  padding: 14px 28px;
  background: #ffffff;
  margin-bottom: 2px;
  flex: 1 0 calc(33.33% - 30px);
  a {
    transition: color 0.25s ease-in-out;
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    color: $brand_blue;
    min-height: 88px;
    justify-content: space-between;
    svg {
      flex-shrink: 0;
      path {
        transition: stroke 0.25s ease-in-out;
      }
    }
  }
  &:hover {
    &::before {
      width: 100%;
    }
    a {
      color: #fff;
    }
    svg path {
      stroke: #fff;
    }
  }
}

.honoraries {
  padding-top: 40px;
  padding-bottom: 28px;
  background: #f2f3f7;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.09);

  .honorable {
    width: 340px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 28px;
    display: flex;
    background: #fbfbfb;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16), 0px 4px 12px rgba(0, 0, 0, 0.1);
    .honorable__image {
      flex-shrink: 0;
      width: 80px;
      height: 80px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .honorable__name {
      margin-bottom: 8px;
      line-height: 120%;
      @include pruning(2);
      color: $brand_black;
    }
    .honorable__descr {
      line-height: 120%;
      color: #393c41;
      font-size: 14px;
      @include pruning(2);
    }
  }

  .honoraries__slider {
    padding: 28px 5px 30px;
    margin-right: -5px;
    margin-left: -5px;
  }
}

.footer {
  background: #f3f8f1;
  padding: 32px 0;
}
.footer__wrapper {
  justify-content: space-between;
  display: flex;
  align-items: center;
  * {
    color: #114f74;
    font-size: 14px;
  }
}

.main-body {
  padding-top: 22px;
  padding-bottom: 44px;

  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    // margin-bottom: 12px;
  }
}
.show-more {
  color: $brand_blue;
  position: relative;
  width: fit-content;
  &:before {
    position: absolute;
    content: "";
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 9px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='19' viewBox='0 0 14 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 9.9C0.668629 9.9 0.4 10.1686 0.4 10.5C0.4 10.8314 0.668629 11.1 1 11.1L1 9.9ZM13.4243 10.9243C13.6586 10.69 13.6586 10.3101 13.4243 10.0757L9.60589 6.25736C9.37157 6.02305 8.99167 6.02305 8.75736 6.25736C8.52304 6.49167 8.52304 6.87157 8.75736 7.10589L12.1515 10.5L8.75736 13.8941C8.52304 14.1284 8.52304 14.5083 8.75736 14.7426C8.99167 14.977 9.37157 14.977 9.60589 14.7426L13.4243 10.9243ZM1 11.1L13 11.1L13 9.9L1 9.9L1 11.1Z' fill='%23114F74'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.affiche__slider {
  margin-bottom: 22px;
  padding-bottom: 22px;
  padding-top: 12px;
  margin-left: 0;
  max-width: 860px;
  width: 100%;
  .poster {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 236px;
    height: 334px;
    transition: transform 0.25s ease-in-out;
    position: relative;
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    &.swiper-slide-visible {
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
      opacity: 1 !important;
    }
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: calc(100% + 1px);
      content: "";
      transition: background-color 0.25s ease-in-out;
      background-color: rgb(255, 255, 255, 0.6);
    }
    &.swiper-slide-next:before,
    &.swiper-slide-prev:before {
      background-color: rgb(255, 255, 255, 0.3);
    }
    &.swiper-slide-active:before {
      background-color: rgb(255, 255, 255, 0.1);
    }

    .poster__image {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .poster__date {
      padding: 20px 20px;
      padding-bottom: 5px;
      text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
      font-weight: 700;
      font-size: 20px;
    }
    .poster__content {
      padding: 20px;
      min-height: 158px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .poster__t3 {
      font-size: 14px;
      margin-bottom: 4px;
      @include pruning(3);
      font-weight: 700;
      line-height: 120%;
    }
    .poster__title {
      line-height: 125%;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 4px;
      @include pruning(2);
    }
    .poster__t4 {
      font-weight: 400;
      font-size: 12px;
      @include pruning(1);
    }
  }
}

.poster.poster-blue-grad {
  .poster__date {
    background: linear-gradient(
      180deg,
      rgba(1, 86, 221, 0.7) 52.03%,
      rgba(1, 86, 221, 0) 100%
    );
  }
  .poster__content {
    background: linear-gradient(0deg, #0156dd 52.03%, rgba(1, 86, 221, 0) 100%);
  }
}
.poster.poster-pink-grad {
  .poster__date {
    background: linear-gradient(
      180deg,
      rgba(113, 7, 201, 0.7) 52.03%,
      rgba(113, 7, 201, 0) 100%
    );
  }
  .poster__content {
    background: linear-gradient(
      0deg,
      #7107c9 52.03%,
      rgba(113, 8, 201, 0) 100%
    );
  }
}

.poster.poster-green-grad {
  .poster__date {
    background: linear-gradient(
      180deg,
      rgba(137, 166, 0, 0.7) 52.03%,
      rgba(50, 139, 164, 0) 100%
    );
  }
  .poster__content {
    background: linear-gradient(
      0deg,
      #89a600 52.03%,
      rgba(137, 166, 0, 0) 100%
    );
  }
}

.poster.poster-turquoise-grad {
  .poster__date {
    background: linear-gradient(
      180deg,
      rgba(50, 139, 164, 0.7) 0%,
      rgba(50, 139, 164, 0) 100%
    );
  }
  .poster__content {
    background: linear-gradient(
      0deg,
      #328ba4 52.03%,
      rgba(50, 139, 164, 0) 100%
    );
  }
}
.poster.poster-brown-grad {
  .poster__date {
    background: linear-gradient(
      180deg,
      rgba(190, 99, 48, 0.7) 52.03%,
      rgba(190, 99, 48, 0) 100%
    );
  }
  .poster__content {
    background: linear-gradient(
      0deg,
      #be6330 52.03%,
      rgba(190, 99, 48, 0) 100%
    );
  }
}

.main-body__gosuslugi {
  width: 100%;
  height: 318px;
  background-color: rgb(202, 195, 195);
}

.main-body__wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 30px;
  .affiche {
    flex: 1 0 calc(75% - 30px);
  }
  .main-body__news {
    flex: 1 0 calc(25% - 30px);
    background: #f2f3f7;
    padding: 16px;
  }
  .news__list {
    margin-bottom: 16px;
  }

  .news__item {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .news__item-date {
    line-height: 100%;
    font-size: 12px;
    color: #676a71;
    margin-bottom: 4px;
    @include pruning(1);
  }
  .news__item-link {
    margin-top: auto;
    line-height: 125%;
    color: $brand_blue;
    @include pruning(3);
  }
}

.affiche__slider {
  .swiper-button-prev {
    left: 0;
    transform: translateX(-50%);
  }
  .swiper-button-next {
    right: 0;
    transform: translateX(50%);
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16), 0px 4px 8px rgba(0, 0, 0, 0.06);
    background: #ffffff;
    &:after {
      display: none;
    }
  }
}
