// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  &.hidden {
    height: 100%;
    width: 100%;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
}
footer {
  margin-top: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  &.index {
    padding-top: 30px;
    background: #fbfbfb;
  }
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// *::selection {
//   background: #fff;
//   color: #000;
// }

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }
}

@import "./common.scss";

h1 {
  font-size: 36px;
  font-weight: 700;
}
h2 {
  font-size: 22px;
  color: $brand_blue;
  font-weight: 700;
  @media (max-width: 576px) {
    font-size: 18px;
  }
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}

.text-1-b {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.text-2 {
  color: #393c41;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}
.caps {
  font-size: 12px;
  font-weight: 700;
  color: $brand_blue;
  text-transform: uppercase;
}

.breadcrumbs {
  padding: 44px 0;
  ul {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li {
      margin-right: 10px;
      position: relative;
      display: flex;
      align-items: center;

      &:not(:last-child)::after {
        margin-left: 10px;
        display: block;
        width: 6px;
        height: 10px;
        content: "";
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L1 9' stroke='%23A1A1A1'/%3e%3c/svg%3e ");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
    a {
      color: #a1a1a1;
      font-size: 12px;
    }
  }
}

.menu-btn {
  margin-right: 18px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    border-radius: 1px;
    transition: transform 0.25s ease-in-out;
  }
  &.active {
    span {
      &:nth-of-type(1) {
        transform: rotate(45deg) translate(7px, 6px);
      }
      &:nth-of-type(2) {
        transform: scale(0);
      }
      &:nth-of-type(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}
header {
  z-index: 2;
}

.header__top {
  background: linear-gradient(90deg, #0f6c50 0%, #3d9805 100%);
  padding: 10px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  // justify-content: space-between;
}
.header__logo {
  margin-right: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  .logo-container {
    height: 53px;
    width: 48px;
    margin-top: -10px;
    margin-bottom: -10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 9px 9px;
    img {
      height: 100%;
    }
  }
  .logo__name {
    font-weight: 500;
    font-size: 24px;
    color: #fffafa;
  }
}

.header__nav {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  a {
    color: #fbfbfb;
    font-weight: 400;
  }
}

.header__actions {
  margin-left: auto;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  .search-btn,
  .eye-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header__bottom {
  background: #f2f3f7;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16), 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.header__cats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  a {
    padding: 16px 0;
    color: $brand_blue;
    &:nth-of-type(1) {
      margin-right: 28px;
    }
    &.active {
      color: #007cc3;
      font-weight: 700;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #007cc3;
      }
    }
  }
}

.main-screen__wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.main-screen__slider {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.16))
    drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
  width: calc(75% - 15px);
  padding-bottom: 20px;
  margin-right: 30px;
}
.swiper-pagination.lines {
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  .swiper-pagination-bullet {
    border-radius: 0 !important;
    transition: opacity 0.25s ease-in-out;
    width: 20px;
    height: 2px;
    background: #90c171;
    opacity: 0.3;
    &.swiper-pagination-bullet-active {
      opacity: 1;
      height: 4px;
      background: linear-gradient(90deg, #0f6c50 0%, #3d9805 100%);
    }
  }
}

.slide-baner {
  position: relative;
  height: 315px;
}

.slide-baner__image {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  img {
    height: 100%;
    object-fit: cover;
    object-position: center right;
  }
}
.slide-baner__grad {
  padding: 32px 44px;
  height: 100%;
  width: 100%;
}

.slide-baner {
  &.blue-grad .slide-baner__grad {
    background: linear-gradient(
      90deg,
      #0156dd 39.69%,
      rgba(1, 86, 221, 0) 98.33%
    );
  }
  &.pink-grad .slide-baner__grad {
    background: linear-gradient(
      90deg,
      #7107c9 39.69%,
      rgba(113, 8, 201, 0) 98.33%
    );
  }
  &.green-grad .slide-baner__grad {
    background: linear-gradient(
      90deg,
      #89a600 39.69%,
      rgba(137, 166, 0, 0) 98.33%
    );
  }
  &.turquoise-grad .slide-baner__grad {
    background: linear-gradient(
      90deg,
      #409cb9 39.69%,
      rgba(212, 239, 179, 0) 98.33%
    );
  }
  &.brown-grad .slide-baner__grad {
    background: linear-gradient(
      90deg,
      #be6330 39.69%,
      rgba(190, 99, 48, 0) 98.33%
    );
  }
}

.slide-baner__title {
  @include pruning(5);
  color: #fbfbfb;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 130%;
  font-size: 25px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16), 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.slide-baner__content {
  height: 100%;
  color: #fbfbfb;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.slide-baner__text {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16), 0px 4px 12px rgba(0, 0, 0, 0.1);
  @include pruning(2);
  font-size: 20px;
  font-weight: 400;
}

.main-screen__chapter {
  overflow: hidden;
  position: relative;
  width: calc(25% - 15px);
  height: 315px;
  background: linear-gradient(147.3deg, #f1faec 0%, #e3f1e4 100%);
  padding: 24px 20px 20px;
  .chapter__content {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
  .chapter__title {
    max-width: 110px;
    font-size: 22px;
    font-weight: 700;
    color: $brand_blue;
    text-transform: uppercase;
  }
  .chapter__btn {
    margin-top: auto;
  }
  .chapter__img {
    position: absolute;
    right: -30px;
    top: 40px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: right bottom;
      margin-top: auto;
    }
  }
}

.categories {
  padding-top: 30px;
  padding-bottom: 22px;
}
.c-ico {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    object-fit: contain;
  }
}

.categories__list {
  display: flex;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;
  li {
    margin-right: 15px;
    margin-left: 15px;
    width: calc(20% - 30px);
    background-color: #f2f3f7;
    transition: background-color 0.25s ease-in-out;
    a {
      width: 100%;
      height: 100%;
      padding: 24px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      color: $brand_blue;
      transition: color 0.25s ease-in-out;
      svg path {
        transition: fill 0.25s ease-in-out;
      }
    }
    &:hover {
      background-color: #90c171;
      a {
        color: #fff;
      }
      svg path {
        fill: #fff;
      }
    }
  }
}

.main-info {
  padding-top: 40px;
  padding-bottom: 56px;
  background: linear-gradient(270deg, #f1faec 0%, #e3f1e4 100%);

  .main-info__title {
    margin-bottom: 28px;
  }
}

.main-info__list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.main-info__item {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #90c171;
    z-index: 1;
    transition: width 0.3s ease-in-out;
  }
  background: #ffffff;
  margin-bottom: 2px;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333% - 30px);
  a {
    padding: 14px 28px;
    transition: color 0.25s ease-in-out;
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    color: $brand_blue;
    min-height: 88px;
    justify-content: space-between;
    svg {
      flex-shrink: 0;
      path {
        transition: stroke 0.25s ease-in-out;
      }
    }
  }
  &:hover {
    &::before {
      width: 100%;
    }
    a {
      color: #fff;
    }
    svg path {
      stroke: #fff;
    }
  }
}

.honoraries {
  padding-top: 40px;
  padding-bottom: 28px;
  background: #f2f3f7;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.09);

  .honorable {
    height: auto;
    width: 340px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 28px;
    display: flex;
    background: #fbfbfb;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16), 0px 4px 12px rgba(0, 0, 0, 0.1);
    .honorable__image {
      flex-shrink: 0;
      width: 80px;
      height: 80px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .honorable__name {
      margin-bottom: 8px;
      line-height: 120%;
      @include pruning(2);
      color: $brand_black;
    }
    .honorable__descr {
      line-height: 120%;
      color: #393c41;
      font-size: 14px;
      @include pruning(2);
    }
  }

  .honoraries__slider {
    padding: 28px 5px 30px;
    margin-right: -5px;
    margin-left: -5px;
  }
}

.footer {
  background: #f3f8f1;
  padding: 32px 0;
}
.footer__wrapper {
  justify-content: space-between;
  display: flex;
  align-items: center;
  * {
    color: #114f74;
    font-size: 14px;
  }
}

.main-body {
  padding-top: 22px;
  padding-bottom: 44px;

  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    // margin-bottom: 12px;
  }
}
.show-more {
  color: $brand_blue;
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  &:after {
    margin-left: 8px;
    display: block;
    content: "";
    width: 14px;
    height: 19px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='19' viewBox='0 0 14 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 9.9C0.668629 9.9 0.4 10.1686 0.4 10.5C0.4 10.8314 0.668629 11.1 1 11.1L1 9.9ZM13.4243 10.9243C13.6586 10.69 13.6586 10.3101 13.4243 10.0757L9.60589 6.25736C9.37157 6.02305 8.99167 6.02305 8.75736 6.25736C8.52304 6.49167 8.52304 6.87157 8.75736 7.10589L12.1515 10.5L8.75736 13.8941C8.52304 14.1284 8.52304 14.5083 8.75736 14.7426C8.99167 14.977 9.37157 14.977 9.60589 14.7426L13.4243 10.9243ZM1 11.1L13 11.1L13 9.9L1 9.9L1 11.1Z' fill='%23114F74'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.affiche__slider_wrapper {
  overflow: hidden;
  padding: 0 16px;
  margin: 0 -14px;
}

.affiche__slider-container {
  padding: 0px 16px;
  margin: 0px -16px;
  position: relative;
}

.affiche__slider {
  overflow: initial;
  width: calc(100% - 32px);
  max-width: 825px;
  // margin-bottom: 22px;
  // padding-bottom: 22px;
  margin-bottom: 44px;
  padding-top: 12px;

  .poster {
    will-change: transform;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 236px;
    height: 334px;
    position: relative;
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    &.swiper-slide-visible {
      opacity: 1 !important;
    }
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: calc(100% + 1px);
      content: "";
      transition: background-color 0.25s ease-in-out;
      background-color: rgb(255, 255, 255, 0.6);
    }
    &.swiper-slide-next:before,
    &.swiper-slide-prev:before {
      background-color: rgb(255, 255, 255, 0.3);
    }
    &.swiper-slide-active:before {
      background-color: rgb(255, 255, 255, 0.1);
    }

    .poster__image {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .poster__date {
      padding: 20px 20px;
      padding-bottom: 5px;
      text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
      font-weight: 700;
      font-size: 20px;
      width: 100%;
    }
    .poster__content {
      width: 100%;
      padding: 20px;
      min-height: 158px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .poster__t3 {
      font-size: 14px;
      margin-bottom: 4px;
      @include pruning(3);
      font-weight: 700;
      line-height: 120%;
    }
    .poster__title {
      line-height: 125%;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 4px;
      @include pruning(2);
    }
    .poster__t4 {
      font-weight: 400;
      font-size: 12px;
      @include pruning(1);
    }
  }
}

.poster.poster-blue-grad {
  .poster__date {
    background: linear-gradient(
      180deg,
      rgba(1, 86, 221, 0.7) 52.03%,
      rgba(1, 86, 221, 0) 100%
    );
  }
  .poster__content {
    background: linear-gradient(0deg, #0156dd 52.03%, rgba(1, 86, 221, 0) 100%);
  }
}
.poster.poster-pink-grad {
  .poster__date {
    background: linear-gradient(
      180deg,
      rgba(113, 7, 201, 0.7) 52.03%,
      rgba(113, 7, 201, 0) 100%
    );
  }
  .poster__content {
    background: linear-gradient(
      0deg,
      #7107c9 52.03%,
      rgba(113, 8, 201, 0) 100%
    );
  }
}

.poster.poster-green-grad {
  .poster__date {
    background: linear-gradient(
      180deg,
      rgba(137, 166, 0, 0.7) 52.03%,
      rgba(50, 139, 164, 0) 100%
    );
  }
  .poster__content {
    background: linear-gradient(
      0deg,
      #89a600 52.03%,
      rgba(137, 166, 0, 0) 100%
    );
  }
}

.poster.poster-turquoise-grad {
  .poster__date {
    background: linear-gradient(
      180deg,
      rgba(50, 139, 164, 0.7) 0%,
      rgba(50, 139, 164, 0) 100%
    );
  }
  .poster__content {
    background: linear-gradient(
      0deg,
      #328ba4 52.03%,
      rgba(50, 139, 164, 0) 100%
    );
  }
}
.poster.poster-brown-grad {
  .poster__date {
    background: linear-gradient(
      180deg,
      rgba(190, 99, 48, 0.7) 52.03%,
      rgba(190, 99, 48, 0) 100%
    );
  }
  .poster__content {
    background: linear-gradient(
      0deg,
      #be6330 52.03%,
      rgba(190, 99, 48, 0) 100%
    );
  }
}

.main-body__gosuslugi {
  width: 100%;
  height: 318px;
  background-color: rgb(202, 195, 195);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-body__wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
  .affiche {
    width: calc(75% - 15px);
    margin-right: 30px;
  }
  .main-body__news {
    width: calc(25% - 15px);
    background: #f2f3f7;
    padding: 16px;
  }
  .news__list {
    margin-bottom: 16px;
  }

  .news__item {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .news__item-date {
    line-height: 100%;
    font-size: 12px;
    color: #676a71;
    margin-bottom: 4px;
    @include pruning(1);
  }
  .news__item-link {
    margin-top: auto;
    line-height: 125%;
    color: $brand_blue;
    @include pruning(3);
  }
}

.affiche__slider-container {
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.16), 0px 4px 8px rgba(0, 0, 0, 0.06);
    background: #ffffff;
    &:after {
      display: none;
    }
  }
}

@media (max-width: 1190px) {
  .slide-baner__grad {
    padding: 32px;
  }
  .main-body__wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .main-body__wrapper .main-body__news {
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
    order: -1;
    .show-more {
      order: 2;
    }
    .news__title {
      order: 1;
    }
    .news__list {
      padding: 0px 10px;
      justify-content: space-between;
      padding-top: 4px;
      flex: auto;
      order: 3;
      display: flex;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-left: -10px;
    }
    .news__item {
      width: 48.5%;
    }
  }
  .affiche__slider {
    margin: auto;
  }
  .main-body__wrapper .affiche {
    width: 100%;
    margin-right: 0;
  }

  .categories__list {
    flex-wrap: wrap;
    margin-right: -11px;
    margin-left: -11px;
    li {
      margin-right: 11px;
      margin-left: 11px;
      width: calc(33.33% - 22px);
      margin-bottom: 20px;
      &:nth-child(n + 4) {
        width: calc(50% - 22px);
        margin-bottom: 0;
      }
    }
  }

  .main-info__list {
    margin-right: -10px;
    margin-left: -10px;
    .main-info__item {
      margin-right: 10px;
      margin-left: 10px;
      width: calc(50% - 20px);
    }
  }
  .affiche .title-wrapper {
    justify-content: space-between;
  }
  .affiche__slider {
    padding-bottom: 37px;
  }

  .honoraries .honorable {
    flex-direction: column;
  }
}

@media (max-width: 880px) {
  .main-screen__chapter .chapter__img {
    right: 43px;
    top: -15px;
    height: 368px;
    width: 246px;
  }

  .main-screen__chapter .chapter__title {
    max-width: inherit;
  }
  .main-screen__wrapper {
    flex-direction: column;
    gap: 18px;
  }
  .main-screen__slider,
  .main-screen__chapter {
    width: 100%;
    flex: auto;
  }
  .main-screen__slider {
    padding-bottom: 12px;
    margin-right: 0;
  }
  .main-screen__chapter {
    height: 224px;
    padding-top: 40px;
    padding-left: 34px;
    padding-bottom: 56px;
  }
  .main-screen__chapter .chapter__img img {
    height: 100%;
  }
}

@media (max-width: 992px) {
  .header__wrapper {
    gap: 0;
  }
  .header__nav,
  .header__logo .logo__name,
  .header__actions .eye-btn,
  .header__bottom {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
}

@media (max-width: 576px) {
  .main-screen__chapter .chapter__img {
    height: 209px;
    width: 140px;
    right: -10px;
    top: -10px;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 28px;
  }
  .footer {
    padding-top: 25px;
    padding-bottom: 21px;
  }
  .honoraries {
    padding-top: 20px;
    padding-bottom: 18px;
  }
  .honoraries .honoraries__slider {
    padding-top: 15px;
    padding-bottom: 18px;
  }
  .honoraries .honorable {
    padding: 20px;
  }
  .menu-btn {
    margin-right: 0;
  }
  .header__wrapper {
    justify-content: center;
  }
  .header__logo {
    margin: auto;
  }
  .header__actions {
    margin: 0;
  }
  main {
    padding-top: 0;
  }
  .main-screen__wrapper {
    display: block;
  }
  .main-screen__slider {
    margin-right: -20px;
    margin-left: -20px;
    width: auto;
  }
  .slide-baner__grad {
    width: 100%;
    height: 100%;
    margin-top: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 22px;
  }
  .slide-baner {
    display: flex;
    height: 240px;
  }

  .slide-baner {
    &.blue-grad .slide-baner__grad {
      background: linear-gradient(
        0deg,
        #0156dd 39.69%,
        rgba(1, 86, 221, 0) 98.33%
      );
    }
    &.pink-grad .slide-baner__grad {
      background: linear-gradient(
        0deg,
        #7107c9 39.69%,
        rgba(113, 8, 201, 0) 98.33%
      );
    }
    &.green-grad .slide-baner__grad {
      background: linear-gradient(
        0deg,
        #89a600 39.69%,
        rgba(137, 166, 0, 0) 98.33%
      );
    }
    &.turquoise-grad .slide-baner__grad {
      background: linear-gradient(
        0deg,
        #409cb9 39.69%,
        rgba(212, 239, 179, 0) 98.33%
      );
    }
    &.brown-grad .slide-baner__grad {
      background: linear-gradient(
        0deg,
        #be6330 39.69%,
        rgba(190, 99, 48, 0) 98.33%
      );
    }
  }
  .slide-baner__title {
    font-size: 18px;
    text-transform: none;
    font-weight: 500;
  }

  .slide-baner__text {
    font-size: 14px;
    font-weight: 400;
  }
  .slide-baner__content {
    gap: 10px;
    justify-content: flex-end;
  }
  .main-screen__chapter {
    margin-top: 18px;
  }
  .main-screen__chapter {
    height: 150px;
    padding: 25px 15px 12px 15px;
  }
}

@media (max-width: 380px) {
  .main-screen__slider,
  .affiche__slider_wrapper {
    margin-right: -10px;
    margin-left: -10px;
  }
  .mobile-menu .mobile-menu__bottom li,
  .mobile-menu .mobile-menu__top li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 690px) {
  .categories__list li {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  .main-info__list {
    margin: 0;
    .main-info__item {
      width: 100%;
      margin: 0;
      margin-bottom: 2px;
    }
  }
  .main-info {
    padding: 20px 0;
  }
  .main-info .main-info__title {
    margin-bottom: 15px;
  }
}

.gosuslugi-mob-banner {
  display: none;
}

@media (max-width: 576px) {
  .affiche__slider {
    padding-top: 20px;
  }
  .categories__list li {
    margin: 0 !important;
    padding-left: 15px;
    padding-right: 15px;
    &:not(:last-child) a {
      border-bottom: 1px solid #dcdde1;
    }
    a {
      justify-content: flex-start;
    }
  }
  .categories {
    padding-top: 20px;
    padding-bottom: 16px;
  }
  .categories__list {
    margin: 0;
  }
  .main-body {
    padding-top: 16px;
    padding-bottom: 20px;
  }
  .main-body__wrapper .main-body__news .news__list {
    margin: 0;
    padding: 0;
  }
  .main-body__wrapper .main-body__news .news__item {
    width: 100%;
  }
  .affiche__slider .poster {
    height: 388px;
    width: 275px;
  }
  .affiche__slider {
    padding-bottom: 20px;
  }

  .main-body__gosuslugi {
    display: none;
  }
  .gosuslugi-mob-banner {
    width: 100%;
    display: block;
    height: 240px;
    background-color: rgb(202, 195, 195);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .main-info__list .main-info__item {
    font-size: 14px;
  }
  .main-info__item a {
    min-height: 62px;
  }
  .affiche__slider-container {
    margin: 0;
    padding: 0;
  }
  .affiche__slider .poster {
    &.swiper-slide-next,
    &.swiper-slide-prev {
      pointer-events: none;
    }
  }
  .affiche__slider_wrapper {
    margin: 0 -20px;
  }
}
@media (max-width: 380px) {
  .btn {
    font-size: 14px;
    padding: 10px 27px;
  }
  .main-screen__chapter .chapter__title {
    max-width: 110px;
  }
}

.mobile-menu {
  &.active {
    opacity: 1;
    visibility: visible;
  }
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 53px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  .mobile-menu__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 320px;
    width: 100%;
    display: flex;
    background-color: #fff;
    a {
      color: #f6f7f9;
    }
  }

  .mobile-menu__top {
    background: #0f4a35;
    li {
      padding: 0px 20px;
      &:not(:last-child) a {
        border-bottom: 1px solid #055a3c;
      }
      a {
        padding: 26px 0;
      }
    }
  }
  .mobile-menu__bottom {
    height: 100%;
    background: linear-gradient(169.89deg, #0f6c50 8.51%, #3d9805 226.55%);
    li {
      padding: 0px 20px;
      a {
        padding: 26px 0;
        border-bottom: 1px solid #055a3c;
      }
    }
  }
}

.org-info {
  padding-bottom: 40px;
  .caps,
  h1 {
    margin-bottom: 12px;
  }
}

.org-info__tab-controls {
  overflow: auto;
  margin: 35px 0;
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .tab-control {
    flex-shrink: 0;
    cursor: pointer;
    color: $brand_blue;
    font-size: 20px;
    position: relative;
    padding: 9px 0;
    &:not(:last-child) {
      margin-right: 36px;
    }
    &.active {
      color: #007cc3;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #007cc3;
        height: 2px;
      }
    }
  }
}

.contacts-tab__contancts {
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .contancts__item {
    margin-bottom: 16px;
    &:not(:last-child) {
      margin-right: 60px;
    }
  }
  .item__nameplate {
    font-size: 16px;
    color: #a1a1a1;
    margin-bottom: 4px;
  }
  .item__text {
    color: #000000;
  }
  .item__link {
    color: #007cc3;
  }
}

.contacts-tab__personal {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  .personal__item {
    .caps {
      margin-bottom: 8px;
      letter-spacing: 0.05em;
    }
    padding: 15px;
    width: 50%;
    .text-1-b {
      margin-bottom: 8px;
    }
  }
  .personal__item-content {
    height: 100%;
    padding: 24px;
    border: 1px solid #dfe1e6;
    box-shadow: 0px 2px 0px #dfe1e6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .personal__item-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    *:first-child {
      color: #a1a1a1;
      margin-right: 5px;
    }
    &.fdc {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 12px;
    }
  }
  .personal__item-data__wrap {
    padding-top: 12px;
    margin-top: auto;
  }
  .personal__item-text {
    margin-bottom: 8px;
    color: #393c41;
  }
}

.inform-residents {
  padding-top: 40px;
  padding-bottom: 22px;
  .inform-residents__list {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 28px;
    display: flex;
    align-items: stretch;
    .list-item {
      padding: 0 15px;
      width: 33.33%;
    }
    .list-item__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 35px;
      position: relative;
      z-index: 2;
      height: 100%;
    }
    .list-item__wrapper {
      position: relative;
      transition: color 0.3s ease-in-out;
      height: 100%;
      padding: 24px 28px;
      font-weight: 700;
      color: $brand_blue;
      background: linear-gradient(270deg, #f1faec 0%, #e3f1e4 100%);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background: #90c171;
        z-index: 1;
        transition: width 0.3s ease-in-out;
      }
      svg {
        flex-shrink: 0;
        path {
          transition: stroke 0.3s ease-in-out;
        }
      }
      &:hover {
        color: #fff;
        svg path {
          stroke: #fff;
        }
        &::before {
          width: 100%;
        }
      }
    }
  }
}

.news-section {
  padding-top: 22px;
  padding-bottom: 80px;
  .news-section__list {
    padding-top: 28px;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    align-items: flex-start;
    .list-item {
      padding: 0px 15px;
      width: 25%;
    }
    .list-item__image {
      margin-bottom: 16px;
      height: 183px;
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .list-item__date {
      margin-bottom: 8px;
      font-size: 16px;
      color: #393c41;
    }
    h3 {
      font-weight: 700;
      color: #000000;
      line-height: 120%;
      font-size: 18px;
      @include pruning(4);
    }
  }
}

.tab-content__item {
  display: none;
  &.active {
    display: block;
  }
  // &.contacts-tab.active {
  //   display: block;
  // }
}

.services-tab {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -30px;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.services-tab__item {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 30px;
  .list-item__wrapper {
    height: 100%;
    border: 1px solid #dfe1e6;
    box-shadow: 0px 2px 0px #dfe1e6;
    padding: 24px;
    padding-right: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 125%;
    color: #000000;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
      box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;
    .text-1-b {
      transition: color 0.25s ease-in-out;
      margin-bottom: 8px;
    }
    &:hover {
      background-color: #90c171;
      box-shadow: 0px 2px 0px #90c171;
      border-color: #90c171;
      color: #fff;
      .ico path {
        stroke: #fff;
      }
      .text-1-b {
        color: #fff;
      }
    }
  }
  .ico {
    margin-top: -4px;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    path {
      transition: stroke 0.25s ease-in-out;
    }
  }
}
.documents-tab {
  flex-direction: column;
}

.documents-tab__list {
  width: 100%;
  .list-item {
    gap: 24px;
    width: 100%;
    padding: 24px 24px 24px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #dfe1e6;
  }
  .list-item__link {
    margin-right: auto;
    display: flex;
    align-items: center;
    color: #007cc3;
    font-size: 18px;
    font-weight: 700;
    .ico {
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 24px;
      img,
      svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .size {
    color: #a1a1a1;
    font-size: 18px;
    flex-shrink: 0;
  }
  .date {
    flex-shrink: 0;
    font-size: 18px;
    color: #000;
  }
}

.pagination {
  padding-top: 30px;
  display: flex;
  .pages {
    display: flex;
    align-items: center;
  }
  .page {
    color: #000000;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &.selected {
      background: #f2f3f7;
    }
  }
  .next-btn {
    margin-left: 12px;
    color: #000000;
  }
}

.sub-org__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  width: 100%;
}
.mb-0 {
  margin-bottom: 0;
}

.sub-org__item {
  width: 50%;
  padding: 15px;
  .list-item__wrapper {
    border: 1px solid #dfe1e6;
    box-shadow: 0px 2px 0px #dfe1e6;
  }
  .list-item__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .list-item__name {
    color: #000;
    margin-bottom: 20px;
  }
  .list-item__site {
    margin-top: auto;
    color: #a1a1a1;
    display: flex;
  }
  .text-blue {
    margin-left: 4px;
    color: #007cc3;
  }
  .list-item__image {
    height: 200px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &.inner {
    .list-item__content {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
    }

    svg path {
      transition: stroke 0.25s ease-in-out;
    }
    .text-1-b {
      transition: color 0.25s ease-in-out;
    }
    .list-item__wrapper {
      transition: background-color 0.25s ease-in-out;
    }

    &:hover {
      svg path {
        stroke: #fff;
      }
      .text-1-b {
        color: #fff;
      }
      .list-item__wrapper {
        background-color: #90c171;
      }
    }
  }
}

@media (max-width: 600px) {
  .sub-org__item {
    width: 100%;
    padding: 15px 0;
  }
  .sub-org__list {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 660px) {
  .contacts-tab__personal .personal__item {
    width: 100%;
    padding: 15px 0;
  }
  .contacts-tab__personal {
    margin: 0;
  }
  .contacts-tab__contancts {
    margin-bottom: 0;
  }
  .services-tab {
    margin-right: 0px;
    margin-left: 0px;
  }
  .services-tab__item {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .documents-tab__list .list-item {
    padding-left: 0;
    gap: 10px;
    padding-right: 0;
  }

  .documents-tab__list .list-item__link .ico {
    margin-right: 10px;
  }
  .documents-tab__list .date {
    display: none;
  }
}

@media (max-width: 576px) {
  .org-info__tab-controls .tab-control:not(:last-child) {
    margin-right: 24px;
  }
  .breadcrumbs {
    padding: 20px 0;
  }

  .documents-tab {
    margin-top: -24px;
  }
}

@media (max-width: 414px) {
  .org-info {
    h1 {
      font-size: 22px;
    }
    .text-2 {
      font-size: 14px;
    }
  }
  .org-info__tab-controls {
    margin-top: 30px;
  }
  .org-info__tab-controls .tab-control {
    font-size: 14px;
  }
  .org-info__tab-controls {
    margin-bottom: 0;
  }
  .org-info__tab-content {
    padding-top: 24px;
  }
  .org-info {
    padding-bottom: 20px;
  }
  .inform-residents {
    padding-top: 20px;
  }
}

@media (max-width: 360px) {
  .breadcrumbs {
    padding: 13px 0;
  }
  .inform-residents .inform-residents__list {
    padding-top: 15px;
  }
  .org-info {
    padding-bottom: 12px;
  }
  .inform-residents {
    padding-top: 12px;
  }
  .inform-residents .inform-residents__list .list-item__wrapper {
    padding: 17px 28px;
    min-height: 65px;
  }
}

@media (max-width: 992px) {
  .inform-residents .inform-residents__list .list-item__content {
    gap: 12px;
    font-size: 14px;
  }
  .inform-residents .inform-residents__list .list-item {
    padding: 0 10px;
  }
  .inform-residents .inform-residents__list {
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media (max-width: 680px) {
  .inform-residents .inform-residents__list {
    margin: 0;
  }
  .inform-residents .inform-residents__list .list-item {
    width: 100%;
    padding: 0;
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
}

.personal__item.inner {
  .personal__item-content {
    color: #393c41;
    flex-direction: row;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out !important;
  }
  .personal__item-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .personal__item-content,
  .personal__item-data,
  .personal__item-data *:first-child,
  .text-1-b {
    transition: color 0.25s ease-in-out;
  }
  svg path {
    transition: stroke 0.25s ease-in-out;
  }

  &:hover {
    .personal__item-content {
      background-color: #90c171;
    }
    .personal__item-content,
    .personal__item-data,
    .text-1-b {
      color: #fff;
    }
    .personal__item-data *:first-child {
      color: rgba(255, 255, 255, 0.5);
    }
    svg path {
      stroke: #fff;
    }
  }
}

.npa-docs-tab__list {
  .list-item {
    padding: 24px 0px 24px 12px;
    border-bottom: 1px solid #dfe1e6;
  }
  .list-item__head {
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 12px;
  }
  .ico {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-right: 20px;
    svg,
    img {
      object-fit: contain;
      object-position: center;
    }
  }
  .list-item__link {
    display: flex;
    color: #007cc3;
    margin-right: 30px;
    font-weight: 700;
    font-size: 18px;
    max-width: 700px;
  }
  .list-item__edition {
    color: #a1a1a1;
    // margin-right: 30px;
  }
  .list-item__size {
    color: #a1a1a1;
    // margin-right: 30px;
  }
  .list-item__info {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
    width: 341px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }
  .list-item__body {
    padding-left: 50px;
    max-width: 95%;
  }
}

.org-info__block {
  margin-top: 26px;
  padding: 30px;
  background: #f2f3f7;
  .info-card__key {
    width: 187px;
    margin-right: 10px;
    color: #a1a1a1;
    flex-shrink: 0;
  }
  .info-card__row {
    a {
      color: #007cc3;
    }
    font-size: 14px;
    line-height: 200%;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
  }
}

.npa-docs-tab__settings {
  gap: 30px;
  margin-bottom: 36px;
  display: flex;
  justify-content: flex-start;
  .date-field {
    width: 268px;
    padding: 12px 0;
    font-size: 18px;
    line-height: 125%;
    border-bottom: 1px solid #a1a1a1;
    position: relative;
    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 23px;
      height: 23px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='5' y='9' width='13' height='9' stroke='%23393C41' stroke-width='2' stroke-miterlimit='10'/%3e%3cpath d='M4 7L19 7' stroke='%23393C41' stroke-width='2' stroke-miterlimit='10'/%3e%3cpath d='M7 3L7 7' stroke='%23393C41' stroke-width='2' stroke-miterlimit='10'/%3e%3cpath d='M16 3L16 7' stroke='%23393C41' stroke-width='2' stroke-miterlimit='10'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    input {
      height: 100%;
    }
  }
}
.air-datepicker-body--day-name {
  color: $brand_blue;
  font-weight: 500;
}

.decrees__wrapper {
  .select2-container--default .select2-selection--single {
    padding: 12px;
    padding-left: 0;
    height: initial;
    width: 268px;
    border: none;
    border-bottom: 1px solid #a1a1a1;
    border-radius: 0px;
    font-size: 18px;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 8px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 1L7 7L1 1' stroke='%23393C41' stroke-width='2' stroke-miterlimit='10'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.15s ease-in-out;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    display: none;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #393c41;
  }
}
.select2-results {
  width: 100% !important;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: inherit;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  background: #f6f7f9;
  color: #000000;
}
.select2-results__option {
  padding: 12px !important;
  color: #4f4f4f;
  font-size: 18px;
  white-space: nowrap;
}
.select2-container--open .select2-dropdown--below {
  width: fit-content !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 15px;
  padding-left: 0;
}

.select2-container--open .select2-dropdown--below {
  border: none;
}
.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow {
  transform: translateY(-50%) scale(-1);
}

.search-container {
  height: 53px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 15px;
  background: #f2f3f7;
  input {
    background-color: transparent;
    padding: 12px 0;
    height: 100%;
  }
}

.archive-tab {
}

.archive-tab__btns {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
  .archive-tab__btn {
    margin-right: 8px;
    color: $brand_blue;
    padding: 2px 6px;
    &.active {
      color: #fff;
      background-color: $brand_blue;
      border-radius: 12px;
    }
  }
}

.archive-tab__render-content {
  width: 100%;
}
.render-content__item {
  border-bottom: 1px solid #dfe1e6;
  transition: background-color 0.25s ease-in-out;

  .list-item__link {
    padding: 24px;
    padding-left: 12px;
    width: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  .list-item__name {
    transition: color 0.25s ease-in-out;
    margin-right: 24px;
    // font-size: 18px;
    font-weight: 700;
    color: #000;
  }
  .ico {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .list-item__size {
    flex-shrink: 0;
    color: #a1a1a1;
    margin-left: auto;
  }

  &:hover {
    background-color: #f6f7f9;
    .list-item__name {
      color: #007cc3;
    }
  }
}

.npa-docs-tab__list {
  .list-item.hide {
    .list-item__body {
      @include pruning(3);
    }
    .list-item__more {
      display: block;
      .collapse {
        display: none;
      }
    }
    &.toggle {
      .list-item__more {
        display: block;
      }
      .list-item__body {
        @include pruning(150);
      }
    }
  }

  .list-item__more {
    width: fit-content;
    position: relative;
    display: none;
    color: #007cc3;
    padding-left: 50px;
    margin-top: 12px;
    cursor: pointer;
    &.open {
      .collapse {
        display: block !important;
      }
      .more {
        display: none;
      }
      &:after {
        transform: translateY(-50%) scale(-1);
      }
    }
    &:after {
      position: absolute;
      content: "";
      right: -25px;
      top: 45%;
      width: 14px;
      height: 9px;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 1L7 7L1 1' stroke='%23007CC3' stroke-width='2' stroke-miterlimit='10'/%3e%3c/svg%3e ");
    }
  }
}

@media (max-width: 880px) {
  .npa-docs-tab__list .list-item__head {
    flex-wrap: wrap;
    .list-item__link {
      margin-right: 0;
      margin-bottom: 8px;
    }
    .list-item__info {
      padding-left: 50px;
      margin-left: 0;
    }
  }
  .npa-docs-tab__settings {
    gap: 0;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  .search-container {
    order: -1;
    width: 100%;
    margin-bottom: 15px;
  }
  .date-field,
  .decrees__wrapper {
    width: 48% !important;
  }
  .date-field {
    margin-right: 4%;
  }
  .decrees__wrapper .select2-container--default .select2-selection--single {
    width: 100%;
  }
  .select2 {
    width: 100% !important;
  }
}

@media (max-width: 680px) {
  .date-field,
  .decrees__wrapper {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .date-field {
    margin-right: 0%;
  }
}

@media (max-width: 414px) {
  .npa-docs-tab__settings {
    margin-bottom: 24px;
  }
  .npa-docs-tab__list .list-item__head .list-item__link {
    flex-direction: column;
  }
  .npa-docs-tab__list .ico {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .npa-docs-tab__list .list-item {
    padding-left: 0;
  }
  .npa-docs-tab__list .list-item .list-item__body {
    padding-left: 0;
    max-width: initial;
  }
  .npa-docs-tab__list .list-item .list-item__more {
    padding-left: 0;
  }
  .npa-docs-tab__list .list-item__head .list-item__info {
    padding-left: 0;
    flex-wrap: wrap;
    width: 100%;
  }
  .list-item__info .list-item__date {
    width: 100%;
  }
  .render-content__item .list-item__link {
    padding: 22px;
    padding-left: 0;
    padding-right: 0;
  }
  .npa-docs-tab__list .list-item__head,
  .npa-docs-tab__list .list-item__link,
  .documents-tab__list .list-item__link,
  .render-content__item .list-item__link,
  .documents-tab__list .size {
    font-size: 16px;
  }
  .render-content__item .ico {
    margin-right: 10px;
  }
  .services-tab__item .list-item__wrapper,
  .sub-org__item.inner .list-item__content,
  .contacts-tab__personal .personal__item-content,
  .sub-org__item .list-item__content {
    padding: 15px;
  }
}

@media (max-width: 580px) {
  .render-content__item .list-item__name {
    margin-right: 10px;
  }
  .org-info__block .info-card__row {
    flex-direction: column;
  }
  .org-info__block {
    padding: 15px;
  }
  .org-info__tab-controls {
    margin-right: -15px;
    padding-right: 15px;
  }
}
@media (max-width: 380px) {
  .org-info__block {
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -20px;
  }

  .render-content__item .list-item__link,
  .npa-docs-tab__list .list-item__head,
  .npa-docs-tab__list .list-item__link,
  .npa-docs-tab__list .list-item .list-item__body,
  .documents-tab__list .list-item__link,
  .documents-tab__list .size {
    font-size: 14px;
  }

  .npa-docs-tab__settings {
    margin-bottom: 0;
  }
  .contacts-tab__personal .personal__item {
    padding: 10px 0;
  }
  .services-tab__item {
    margin-bottom: 20px;
  }
  .org-info__tab-controls {
    margin-right: -10px;
    padding-right: 10px;
  }
}
